/* IMPORT COMMON CSS */
@import url("theme.css");


/*------------------
  Register - start 
-------------------*/
#registerSection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
}
#registerSection .container{
    position: relative;
    width: 400px;
    height: 440px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    border-radius: 20px;
}
#registerSection .container .formBox h3{
    margin: 20px 0px 40px 0px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(12, 168, 196);
}
#registerSection .container form .formBox{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#registerSection .container form .formBox:nth-child(1){
  background-color: white;
  z-index: 3;
}
#registerSection .container form .formBox:nth-child(2){
    background-color: white;
    z-index: 2;
  }
  #registerSection .container form .formBox:nth-child(3){
    background-color: white;
    z-index: 1;
}

#registerSection .container form .formBox input{
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: .6px;
}
#registerSection .container form .formBox .redio{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 50px;
}
#registerSection .container form .formBox .redio input{
  box-shadow: none;
  border: none;
  padding: 0px;
  margin: 0px;
}
#registerSection .container form .formBox .button button{
    margin: 20px 0px;
}

/*------------------
  Register - End 
-------------------*/

/*----------------------
     media Query - Start 
-----------------------*/

/*----------------
 Register - start
--------------- */
@media screen and (max-width: 450px) {
    #registerSection{
        width: 100%;
        height: 100%;
    }
    #registerSection .container{
      box-shadow: none;
    }
    #registerSection .container .formBox{
        width: 100%;
        height: 100%;
    }
    #registerSection .container form .formBox input{
      width: 80%;       
    }
  }
  /*---------------
   Register - End
  -------------- */

/*----------------------
     media Query - End 
-----------------------*/
